/* Background
 ================================ */
.s-background {
  z-index: -1;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  & video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-size: cover;
  }

  & .slider {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 100%;
    height: 100%;
    background-size: cover;
  }
}

.gradients {
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1099;
  opacity: 0.75;

  & div {
    height: 100%;
    position: absolute;
    width: 100%;
  }

}

.default {
  background: #1b388d;
}

.current {
  opacity: 0;
}

.slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-size: cover;
  -webkit-animation: slideImg 16s infinite;
  animation: slideImg 16s infinite;
  opacity:0;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

@-webkit-keyframes slideImg {
  25%{opacity:1;}
  40%{opacity:0;}
}

@keyframes slideImg {
  25%{opacity:1;}
  40%{opacity:0;}
}

.slider:nth-child(1){-webkit-animation-delay:0s;animation-delay:0s;}
.slider:nth-child(2){-webkit-animation-delay:4s;animation-delay:4s;}
.slider:nth-child(3){-webkit-animation-delay:8s;animation-delay:8s;}
.slider:nth-child(4){-webkit-animation-delay:12s;animation-delay:12s;}
